# Module 3: Data Structures Assignments
## Lesson 3.4: Dictionaries
### Assignment 1: Creating and Accessing Dictionaries

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

### Assignment 2: Accessing Dictionary Elements

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

### Assignment 3: Dictionary Methods

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

### Assignment 4: Iterating Over Dictionaries

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

### Assignment 5: Dictionary Comprehensions

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

### Assignment 6: Merging Dictionaries

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

### Assignment 7: Nested Dictionaries

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

### Assignment 8: Dictionary of Lists

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

### Assignment 9: Dictionary of Tuples

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

### Assignment 10: Dictionary and List Conversion

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

### Assignment 11: Dictionary Filtering

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

### Assignment 12: Dictionary Key and Value Transformation

Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

### Assignment 13: Default Dictionary

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

### Assignment 14: Counting with Dictionaries

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

### Assignment 15: Dictionary and JSON

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [1]:
d = {i: i*i for i in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [2]:
d = {i: i*i for i in range(1,11)}
print(d[5])
print(d.keys())

25
dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [3]:
d = {i: i*i for i in range(1,11)}
d[11] = 121
d.pop(1)
print(d)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [4]:
d = {i: i*i for i in range(1,11)}
for k, v in d.items():
    print(k, v)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [5]:
cubes = {i: i**3 for i in range(1,11)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [6]:
d1 = {i: i*i for i in range(1,6)}
d2 = {i: i*i for i in range(6,11)}
d = {**d1, **d2}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [7]:
student = {
    'name': 'Naveen',
    'age': 20,
    'grades': {'math': 90, 'science': 85, 'english': 88}
}
print(student)

{'name': 'Naveen', 'age': 20, 'grades': {'math': 90, 'science': 85, 'english': 88}}

In [8]:
d = {i: [i*j for j in range(1,6)] for i in range(1,6)}
print(d)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

In [9]:
d = {i: (i, i*i) for i in range(1,6)}
print(d)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

In [10]:
d = {i: i*i for i in range(1,6)}
lst = list(d.items())
print(lst)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [11]:
d = {i: i*i for i in range(1,11)}
even_d = {k:v for k,v in d.items() if k%2==0}
print(even_d)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [12]:
d = {i: i*i for i in range(1,6)}
swapped = {v:k for k,v in d.items()}
print(swapped)

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

In [13]:
from collections import defaultdict

d = defaultdict(list)
d[1].append('a')
d[2].append('b')
print(d)

defaultdict(<class 'list'>, {1: ['a'], 2: ['b']})

In [ ]:
s = "hello world"
d = {}

for c in s:
    if c in d:
        d[c] += 1
    else:
        d[c] = 1

print(d)