# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
numbers = (1,2,3,4,5,6,7,8,9,10)
print(numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
numbers = (1,2,3,4,5,6,7,8,9,10)

print("first:", numbers[0])
print("middle:", numbers[len(numbers)//2])
print("last:", numbers[-1])

first: 1
middle: 6
last: 10

In [3]:
numbers = (1,2,3,4,5,6,7,8,9,10)

print("first 3:", numbers[:3])
print("last 3:", numbers[-3:])
print("index 2 to 5:", numbers[2:6])

first 3: (1, 2, 3)
last 3: (8, 9, 10)
index 2 to 5: (3, 4, 5, 6)

In [4]:
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print(matrix)
print(matrix[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

In [5]:
t1 = (1,2,3)
t2 = (4,5,6)

result = t1 + t2
print(result)

(1, 2, 3, 4, 5, 6)

In [6]:
t = (1,2,3,2,4,2,5)

print("count of 2:", t.count(2))
print("index of 3:", t.index(3))

count of 2: 3
index of 3: 2

In [7]:
t = (10, 20, 30, 40, 50)
a, b, c, d, e = t

print(a, b, c, d, e)

10 20 30 40 50

In [8]:
lst = [1,2,3,4,5]
t = tuple(lst)
print(t)

(1, 2, 3, 4, 5)

In [9]:
t = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print(t)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [10]:
t = (1,2,3,4,5)
lst = list(t)
lst.append(6)
t = tuple(lst)
print(t)

(1, 2, 3, 4, 5, 6)

In [11]:
a = "hello"
t = tuple(a)
joined = "".join(t)
print(joined)

hello

In [12]:
d = {
    (1,2): 10,
    (3,4): 20,
    (5,6): 30
}

print(d)

{(1, 2): 10, (3, 4): 20, (5, 6): 30}

In [13]:
t = ((1,2,3),
    (4,5,6),
    (7,8,9))

for sub in t:
    for item in sub:
        print(item)

1
2
3
4
5
6
7
8
9

In [14]:
t = (1,2,2,3,4,4,5)
s = set(t)
print(s)

{1, 2, 3, 4, 5}

In [15]:
def minimum(t):
    return min(t)

def maximum(t):
    return max(t)

def total(t):
    return sum(t)

t = (1,2,3,4,5)

print("min:", minimum(t))
print("max:", maximum(t))
print("sum:", total(t))

min: 1
max: 5
sum: 15